<mat-card>
    <mat-card-header>
        LOGIN
    </mat-card-header>
    <mat-card-subtitle>
        Accede a tu cuenta
    </mat-card-subtitle>
    <form #formDirective ="ngForm" [formGroup]="loginForm" (submit)="submitForm(formDirective)">
        <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" maxlength="50">
            <mat-error *ngIf="formEmail?.errors?.['email'] && formEmail?.touched">
                Formato incorrecto. Ej: ejemplo@correo.com
            </mat-error>
            <mat-error *ngIf="formEmail?.errors?.['required'] && formEmail?.touched">
                Debes ingresar tu correo
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Contraseña" formControlName="password" maxlength="40">
            <mat-error *ngIf="formPassword?.errors?.['required'] && formPassword?.touched">
                Debes ingresar tu contraseña
            </mat-error>
        </mat-form-field>
        <mat-card-actions>
            <a [routerLink]="[registerPage]">¿No tienes una cuenta? Registrate aquí!</a>
        </mat-card-actions>
        <!-- Disabled if form is invalid-->
        <button type="submit" mat-raised-button color="primary" [disabled] = "loginForm.invalid">
            LOGIN
        </button>
    </form>    
</mat-card>
