.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.router-content
{
  width: 100%;
  margin: auto;
  margin-top: 2em;
}

.is-hidden {
  display: none;
}